<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="keywords" content="stc, msa">
	<meta name="description" content="Student Shortener - Project of Microsoft Slovak Training Center and Microsoft Learn Ambassadors">
	<meta name="author" content="ŠTC & MSA; www.education.microsoft.com/sk-sk">
	<meta property="og:title" content="Student Shortener">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Student Shortener</title>
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>


	<h1>Student Shortener</h1>
	<h2>Project of Microsoft Student Training Center and Microsoft Student Ambassadors</h2>

	<div>
		<p><i class="fa fa-user" aria-hidden="true"></i> Project lead <a class="button decor-background-grey ap" href="https://www.linkedin.com/in/filipbil/">Filip Biľ</a></p>

		<p>Frontend and Backend <a class="button decor-background-grey ap" href="https://tadeas-drab.dev/">Tadeáš Drab</a></p>

		<p>Backend <a class="button decor-background-grey ap" href="https://www.linkedin.com/in/andrej-mokri%C5%A1-6572b5179/">Andrej Mokriš</a></p>

		<p>Backend <a class="button decor-background-grey ap" href="https://sk.linkedin.com/in/matej-vavrek-120378178">Matej Vavrek</a></p>
	</div>

	<footer>
		<div class="no-decoration">
			<ul class="no-decoration">
				<a class="button copy-footer" href="http://stcmicrosoft.azurewebsites.net/"><i class="fa fa-copyright" aria-hidden="true"></i> Študentské Trénerske Centrum Microsoft</a>
			</ul>
		</div>
	</footer>
</body>
</html>