@page
@{
	string cssString = "/css/error.css?" +  DateTime.Now.Ticks.ToString();
}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
    	<title>Student Shortener</title>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    	<link rel="stylesheet" href="~/css/error.css">
	</head>
<body>
	<div>
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-404">
					<h1>Oops!</h1>
					<h2>Something happened...</h2>
					<a href="/">Go back to main page</a>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/index.js"></script>
</body>
</html>