@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&display=swap');

.notfound {
  height: 100%;
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.notfound-404 h1 {
  font-family: 'Passion One', cursive;
  font-size: 450px;
  font-weight: 400;
  background-color: #80cc28;
  background-image: -webkit-linear-gradient(bottom right, #20bf55 0%, #80cc28 95%);
  background-image: -o-linear-gradient(bottom right, #20bf55 0%, #80cc28 95%);
  background-image: linear-gradient(to top left, #20bf55 0%, #80cc28 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

[v-cloak] {
  display: none;
}

@media only screen and (max-width: 1100px) {

    .notfound .notfound-404 h1 {
      font-size: 200px;
    }
}
