@page
@model _2inch.Models.Auth
@{ 
    //TODO:Implement SSO cez ŠTC AD 
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Login - ŠTC Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <section class="hero is-fullheight" style="background-color: #20bf55;">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "box" }))
                            {
                                <div class="field">
                                    <h3 class="subtitle is-5">Login - ŠTC Shortener</h3>
                                </div>
                                @if (ViewBag.Passed != null)
                                {
                                    <article class="message is-danger field">
                                        <div class="message-header">
                                            <p>Invalid Credentials!</p>
                                        </div>
                                        <div class="message-body">
                                            You have entered invalid password or email!
                                        </div>
                                    </article>
                                }
                                <div class="field">
                                    <label for="" class="label">Email</label>
                                    <div class="control has-icons-left">
                                        @Html.TextBoxFor(M => M.Name, new { @class = "input", required = "required" })
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Password</label>
                                    <div class="control has-icons-left">
                                        @Html.PasswordFor(M => M.Pass, new { @class = "input", required = "required" })
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <input class="button is-success" type="submit" value="Login" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/js/index.js"></script>
</body>
</html>