@page
@{

	if(!User.Identity.IsAuthenticated) {
		Redirect("/admin/login");
		return;
	}


}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
    	<title>Not Found - ŠTC Shortener</title>
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    	<link rel="stylesheet" href="~/css/index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	</head>
<body>
	<div id="app">
		<nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
			    <a class="navbar-item" href="http://stcmicrosoft.azurewebsites.net/">
			      	<img src="~/images/STCBLACK.png" width="82" height="28">
			    </a>

			    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" :class="{'is-active': activeBurger}" **@click.prevent="showBurger()">
				    <span aria-hidden="true"></span>
				    <span aria-hidden="true"></span>
				    <span aria-hidden="true"></span>
			    </a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu" :class="{'is-active': activeBurger}">
			    <div class="navbar-start">
                    <a class="navbar-item" href=" @Url.ActionLink("AdminPanel", "Admin") ">
                        Home
                    </a>

                   <a class="navbar-item" href=" @Url.ActionLink("AddLink", "Admin") ">
					   Add Link
                   </a>

                    <a class="navbar-item" href=" @Url.ActionLink("EditLinks", "Admin") ">
                        Edit Links
                    </a>
			    </div>

			    <div class="navbar-end">
			      	<div class="navbar-item">
			        	<div class="buttons">
			          		<a class="button is-danger" href=" @Url.ActionLink("Logout", "Admin") ">
			            		Log out
			          		</a>
			        	</div>
			      	</div>
			    </div>
			</div>
		</nav>

		<section class="hero add-link">
			<div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-4-widescreen is-centered text-is-centered" style="text-align: center;">
							<div class="field">
							  	<h3 class="subtitle is-2 is-centered">404</h3>
								<h3 class="subtitle is-4 is-centered">Oops! Something went wrong.</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/index.js"></script>
</body>
</html>